@font-face {
    font-family: 'Galada', cursive;
    @import url('https://fonts.googleapis.com/css2?family=Bangers&family=Galada&display=swap');
}
.container
{
 

}

.row
{
    width: 100%;
}


.jumbotron
{
    
    font-family: 'Galada', cursive;
    text-align: center;
    
   height: 200px;
    }

.container2 {
    margin-left: 260px;
    display: flex;
    justify-content:center;
 
}

.card 
{
     max-width: 350px;
     height: 400px;
     padding: 10px;
     align-items: center;
     text-align: center;
}
.card-title {
 text-align: center;
}
 .card-text {
    text-align: center;
 }
 .container2>btn{
     justify-content: center;
 }

 .p-img-1 
 {margin-top: 20px;
         max-width: 200px;
     height: 200px;
border-radius: 50%;
 }
 .p-img-2
 {
     max-width: 200px;
     height: 200px;
border-radius: 50%;
 }
 .p-img-3 
 {
     max-width: 200px;
     height: 200px;
border-radius: 50%;
 }
 